@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.v-field__field .v-field__input {
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 100%;
  min-height: auto;
  height: 40px;
  outline: none;
}

.v-field__field .v-label.v-field-label {
  font-size: 16px;
  line-height: 100%;
}

.v-btn.v-btn--size-default.v-btn--density-default {
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 100%;
  height: auto;
}

.v-btn .v-icon {
  font-size: 16px;
}

.v-btn .v-btn__content {
  font-size: 16px;
  gap: 8px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
